
<% if controller.controller_name == "static_pages" %>
<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>

<% else %>

<%= link_to gravatar_for(@user, size: 50), @user %>
<h1><%= @user.name %></h1>
<span><%= link_to "view my profile", @user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>

<% end %>