<!--Retweetされたかどうかを判別-->

<!--Retweet の呟き　の場合のテンプレートと通常のテンプレートを分けるべき -->


<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= micropost.id %><br>
  <%= micropost.user.id %>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
   <% if current_user == micropost.user %>
      <%= link_to "delete2", micropost_path(micropost), method: :delete, data: { confirm: "You sure?" } %>
   <% end %> 
   <div id="favorite_<%= micropost.id %>" > 
    <% if current_user.favorite?(micropost) %>
     <%= render :partial => 'users/unfav', :locals => { :micropost => micropost } %>
    <% else %>
    <%= render :partial => 'users/fav', :locals => { :micropost => micropost } %>
    <% end %>
    
    
  </div>
  <% if current_user.id != micropost.user.id %>
  
        <div id="retweet_form_<%= micropost.id %>" > 
        <% if current_user.retweet?(micropost) %>
             <%= render :partial => 'users/unretweet', :locals => { :micropost => micropost } %>
            <%#= form_for(current_user.retweets.find_by(retweetpost_id: micropost.id),html: { method: :delete}, remote: true) do |f| %>
            <%#= f.submit "retweet解除", class: "btn btn-info btn-xs" %>
            <%# end %>        

     <%#= link_to "retweet", retweet_retweet_path(micropost), :class => "btn btn-default btn-xs" %>    
        <% else %>aaa
             <%= render :partial => 'users/retweet', :locals => { :micropost => micropost } %>
            <%#= form_for(current_user.retweets.build, remote: true) do |f| %>
            <%#= hidden_field_tag 'retweet[retweetpost_id]', micropost.id %>
            <%#= f.submit "retweet", class: "btn btn-primary btn-xs" %>
            <%# end %>    
        <% end %>
            
        
         </div>
 <% end %>
<!--パーシャルの代用-->  


     
<!--パーシャルの代用-->      


  </span>
</li>

